@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.painike{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #408108;
  background-color: #e4bf39;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.painike1{
  font-size: 14px;
  font-weight: 600;
  padding: 11px 18px;
  color: #408108;
  background-color: #f1e0a4;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #7b1b00;
    box-shadow: 0 5px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 10px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0,3s ease;
}

#navbar li a:hover
#navbar li a.active {
    color: #088179;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

#fonttikuva{
  background-image: url("kuvat/T-kuva.webp");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#fonttikuva h4 {
  padding-bottom: 15px;
}

#fonttikuva h1{
  color: #088178;
}

#fonttikuva button{
  background-image: url();
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 14 80px 14 px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

#ominaisuus{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#ominaisuus .fe-box{
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}

#ominaisuus .fe-box:hover{
  box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.03);
}

#ominaisuus .fe-box kuvat{
  width: 100%;
  margin-top: 10px;
}

#ominaisuus .fe-box h6{
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}

#ominaisuus .fe-box:nth-child(2) h6{
  background-color: #cdebbc;
}

#ominaisuus .fe-box:nth-child(3) h6{
  background-color: #b4bfd6;
}

#ominaisuus .fe-box:nth-child(4) h6{
  background-color: #ebbcd3;
}

#ominaisuus .fe-box:nth-child(5) h6{
  background-color: #e9ebbc;
}

#ominaisuus .fe-box:nth-child(6) h6{
  background-color: #bebceb;
}

#tuotteet{
  text-align: center;
}

#tuotteet .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#tuotteet .pro{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce6e7;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#tuotteet .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
}

#tuotteet .pro img{
  width: 100%;
  border-radius: 20px;
} 

#tuotteet .pro .muoti {
  text-align: start;
  padding: 10px 0;
}

#tuotteet .pro .muoti span{
  color: #606063;
  font-size: 12px;
}

#tuotteet .pro .muoti h5{
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#tuotteet .pro .muoti i{
  font-size: 12px;
  color: rgba(243, 181, 25);
}

#tuotteet .pro .muoti h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #7472ba;
}

#tuotteet .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #408108; 
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  bottom: 10px;
}

#mainos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(kuvat/mainoskuva.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#mainos h4{
  font-size: 16px;
}

#mainos h2{
  font: optional 30px;
  padding: 10px 0;
}

#mainos h2 span{
  color: #f2f248;
}

#mainos button:hover {
  color: #e4bf39;
  background-color: #408108;
}

#s-mainos{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#s-mainos .mainos-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(kuvat/paidat.jpg);
  min-width: 650px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

#s-mainos .mainos-box2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(kuvat/kengät.jpg);
  min-width: 650px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

#s-mainos h3{
  color: #f30808;
  
  font-size: 20px;
}

#s-mainos h2{
  color: #f30808;
  
  font-size: 20px;
}

#s-mainos .mainos-box:hover button{
  color: #f0e1ab;
  background-color: #408108;
}

#s-mainos .mainos-box2:hover button{
  color: #f0e1ab;
  background-color: #408108;
}

#mainos3 .mainos-boxx :hover button{
  color: #f0e1ab;
  background-color: #408108;
}

#mainos3 .mainos-boxx m2:hover button{
  color: #f0e1ab;
  background-color: #408108;
}

#mainos3 .mainos-boxx m3:hover button{
  color: #f0e1ab;
  background-color: #408108;
}


#mainos3{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}

#mainos3 .mainos-boxx{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(kuvat/clubjersey.jpeg);
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}

#mainos3 .m2{
  background-image: url(kuvat/majut.jpg);
}

#mainos3 .m3{
  background-image: url(kuvat/tyyli.jpg);
}

#mainos3 h2{
  font-size: 22px;
  font-weight: 900;
  color: #fff;
}

#mainos3 h3{
  font-size: 15px;
  font-weight: 700;
  color: #fff;
}

#tilaa{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url();
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #222;
}

#tilaa h4{
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

#tilaa p{
  font-size: 16px;
  font-weight: 600;
  color: #cacaca;
}

#tilaa .form{
  display: flex;
  width: 40%;
}

#tilaa input{
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#tilaa button{
  color: #408108;
  background-color: #e4bf39;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo{
  margin-bottom: 30px;
}

footer h4{
  font-size: 14px;
  padding-bottom: 20px;
}

footer p{
  font-size: 13px;
  margin:  0 0 8px 0;
}

footer a{
  font-size: 13px;
  margin:  0 0 8px 0;
  color: #222;
  text-decoration: none;
}

footer .seuraa{
  margin-top: 20px;
}

footer .seuraa{
  margin-top: 20px;
}

footer .seuraa i{
  padding-right: 4px;
  color: #10130e;
  cursor: pointer;
  font-size: 4vh;
}

footer .lataa .rivit{
  border-radius: 6px;
  border: 1px solid #161614;
}

footer .lataa .rivit img{
  margin: 10px 0 15px 0;
}

footer .lataa img{
  margin: 10px 0 15px 0;
}

footer .seuraa i:hover,
footer a:hover {
  color:#088179
}

footer .copyright{
  width: 100%;
  text-align: center;
}

@media (max-width:799px) {
  .section-p1 {
    padding: 40px 40px;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #7b1b00;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }
  
  #navbar.active{
    right: 0px;
  }

  #navbar li{
    margin-bottom: 25px;
  }

  #mobile{
    display: flex;
    align-items: center;
  }

  #mobile i{
    color: #1a1a1a;
    font-size: 24px;
    padding: 20px;
  }

  #close{
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }
  
  #koti-valikko{
    display: none;
  }

  #fonttikuva{
    background-image: url("kuvat/T-kuva.webp");
    background-position: top 35% right 30%;
    padding: 0 80px;
  }

  #ominaisuus{
    justify-content: center;
  }

  #ominaisuus .fe-box {

    margin: 15px 15px;
  }

  #tuotteet .pro-container {
    justify-content: center;
  }

  #tuotteet .pro {
    margin: 15px;
    
  }

  #mainos {
    height: 30vh;
  }

  #s-mainos .mainos-box {
    min-width: 100%;
    height: 30vh;
  }

  #mainos3 {
    padding: 0px 40px;
  }

  #tilaa .form {
    display: flex;
    width: 70%;
}
}